* {
    margin: 0;
    border: none;
    font-family: "Butterfly Kids", serif;
    font-weight: 400;
    font-size: 60px;
}

h1 {
    font-family: "Sunshiney", serif;
  font-weight: 400;
  font-style: normal;
}
h2 {
    font-family: "Ruge Boogie", serif;
  font-weight: 400;
  font-style: normal;
}
h3 {
    font-family: "Butterfly Kids", serif;
  font-weight: 400;
  font-style: normal;
}


body {
    background-color: aqua;
}

button {
    background: none;
    z-index: 1;
}
button:hover {
    filter: drop-shadow(0 0 100px rgb(255, 255, 255))
    drop-shadow(0 0 100px rgb(255, 255, 255));

}

.grid {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  flex: 1;
}
 .rotating-image {
    width: 100%;
 }

img {
    background-color: inherit;
}

.item-1 {
  grid-area: 1 / 2 / 1 / 2;
}
.item-2 {
  grid-area: 3 / 1 / 5 / 3;
}
.item-3 {
  grid-area: 7 / 2 / 8 / 3;
}
.item-4 {
  grid-area: 7 / 7 / 8 / 8;
}
#container3D canvas {
    position: relative;
    width: 100vw !important;
    height: 100vh !important;
    /* background-color: rgb(47, 47, 47); */
    filter: drop-shadow(0 0 10px rgb(255, 255, 255));

    z-index: -1;
  }